<!DOCTYPE html>
<html>

<head>
    <title>Document</title>
</head>

<body>
    <h1>
        <center>the image you posted is :</center>
    </h1>
    <center>
        <img src="{{url_for('static', filename='file.jpg')}}" alt="" height="50%" width="50%">
        <br>
        <h3>
            the image is of ,<br>
        </h3>
        <h1>
            {{result}}
            <br>
        </h1>
        <h3>
            its tone is generally
            {{tone}}
            so,
            {{decision}}</h3>

    </center>
</body>

</html>